body {
  background-color: #ffffffc0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  color: rgb(24, 24, 26);
  padding: 20px;
  margin: auto;
}
p,
h3 {
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(57, 60, 57);
  margin: auto;
  padding: 20px;
}

dl {
  font-family: "Playfair Display", serif;
}

dd {
  font-family: "Playfair Display", serif;
}

dt {
  font-family: "Playfair Display", serif;
}

header {
  position: sticky;
  top: 0;
  padding: 1rem 2rem;
  box-shadow: 0 12px 28px 0 hsla(0, 0%, 0%, 0.302);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgb(217, 142, 66);
}
header .logo a {
  font-size: 2rem;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
}
a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  font-weight: 700;
  color: #070708;
}

.burger-menu-icon {
  display: none; /* Skjul burgermenu-ikonet som standard */
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 700px) {
  header {
    position: sticky;
  }
  .burger-menu-icon {
    display: block; /* Vis burgermenu-ikonet på mindre skærme */
  }
}
