/**** regler for mobil-layout *****/

/* Stilarter, der kun gælder for mobilenheder */
@media only screen and (max-width: 768px) {
  body {
    padding: 10%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .nana {
    position: absolute;
    top: 70%;
    left: 20%;
    font-size: 55px;
    color: #ffd722;
  }

  .selvportræt {
    position: absolute;
    top: 25%;
    left: 25%;
  }
}

/* Stilarter, der kun gælder for desktop */
@media only screen and (min-width: 769px) {
  img {
    max-width: 100%;
    height: 50%;
    display: block;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    padding: 10%;
  }

  div {
    text-align: left;
  }

  h1 {
    text-align: center;
  }

  /******Forside*********/

  .container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    gap: 1rem;
    border: 2px solid #0001b3; /*** Stregstørrelse og farve for rammen ***/
    border-radius: 10px; /*** runde hjørner på rammen ***/
    padding: 10px;
  }

  .selvportræt {
    grid-column: 2/3;
    grid-row: 2/4;
  }

  .nana {
    grid-column: 1/4;
    grid-row: 3/4;
    font-size: 60px;
    color: #ffd722;
  }

  .velkommen {
    grid-column: 1/4;
    grid-row: 1;
  }

  /******Portfolio*********/

  .tema2,
  .tema3,
  .tema4,
  .tema5 {
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    grid-row: 3fr 3fr 3fr;
    gap: 5rem;
  }

  .t2,
  .t4 {
    border: 2px solid #0001b3;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
  }

  .t3,
  .t5 {
    border: 2px solid #ffd722;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
  }

  .b8 {
    width: 80%;
    right: 70%;
  }

  img {
    width: 100%;
    height: auto;
  }

  /**********Om mig*******/

  .mig {
    margin: 20px;
    border: 2px solid #ffd722;
    text-align: center;
  }

  .programmer {
    margin: 20px;
    border: 2px solid #0001b3;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }
  .kompetancer {
    margin: 20px;
    border: 2px solid #ffd722;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }

  .lidt {
    text-align: center;
  }

  .mig {
    display: flex;
    align-items: center;
  }

  .mig div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .mig img {
    margin-left: 20px;
    max-width: 100%;
    height: auto;
  }
}
